{% load static %}

  <section data-bs-version="5.1" class="header2 cid-tzVgfOnXBf mbr-parallax-background" id="header2-0">




    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="container">
        <div class="row">
            <div class="row-10 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Blog do Miranha.</strong></h1>
                {% if user.is_anonymous %}
                    <a href="{% url 'cadusuario' %}" class="btn btn-primary">Cadastre-se</a>
                    <a href="{% url 'loginuser' %}" class="btn btn-primary">Login</a>
                {% else %}
                    <a href="{% url 'logoutuser' %}" class="btn btn-primary">Loguot</a>
                {% endif %}
                <p class="mbr-text mbr-fonts-style display-7">DEPOSITE SUAS IDEAIS PARA ALCANÇAR OUTRAS PESSOAS!</p>

            </div>
            <div class="col-2 col-lg-7">

            </div>
        </div>
    </div>
</section>