{% extends "base.html" %}

{% block titulo %} Meu Blog ==> Comentando Post {{ post.titulo }} {% endblock %}

{% block conteudo %}
<section data-bs-version="5.1" class="features16 cid-tzVjbxlXj9" id="features17-6">

    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Comentando Post {{ post.titulo }}</strong>
                        </h6>
                        {% if user.is_authenticated %}
                        <form class="form form-vertical" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_div }}
                            <div>
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </form>
                        {% else %}
                            <h3 class="alert">Página Disponível apenas para Usuários Autenticados</h3>
                            <h4 class="warning"> Por favor faça login ou cadastre-se. </h4>
                            <p><a href="{% url 'listar_posts' %}" class="">

                            </a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}